@model EduCoreSuite.Models.Course

@{
    ViewData["Title"] = "Course Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(m => m.CourseName)</dt>
        <dd class="col-sm-9">@Model.CourseName</dd>

        <dt class="col-sm-3">Department</dt>
        <dd class="col-sm-9">@Model.Department?.Name</dd>

        <dt class="col-sm-3">Programme</dt>
        <dd class="col-sm-9">@Model.Programme?.Name</dd>

        <dt class="col-sm-3">Campus</dt>
        <dd class="col-sm-9">@Model.Campus?.Name</dd>

        <dt class="col-sm-3">Exam Body</dt>
        <dd class="col-sm-9">@Model.ExamBody?.Name</dd>

        <dt class="col-sm-3">Study Status</dt>
        <dd class="col-sm-9">@Model.StudyStatus?.Name</dd>

        <dt class="col-sm-3">Study Mode</dt>
        <dd class="col-sm-9">@Model.StudyMode?.Name</dd>
    </dl>
</div>

<div class="mt-3">
    <a asp-action="Edit" asp-route-id="@Model.CourseID" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
